.container{
    width: 1250px;
    margin: 0 auto;
}
.list_item{
    list-style: none;
}
.list_item a {
text-decoration:none;
font-family: Mulish;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #1f1534;
opacity: 0.5;
}
.active  a{
    opacity: 1;
}